<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script th:src="@{/src/js/vendor/jquery-3.3.1.min.js}" type="text/javascript"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form method="post" th:action="@{/uploadText}">
    <input name="data" th:value="*{data}" type="text">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Submit
    </button>
</form>
<!--navigation bar end-->

<form method="get" th:action="@{/admin/view}">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">View
    </button>
</form>
<!--navigation bar end-->


<div>&copy; 2017 The Static Template Created By Sudin Ranjitkar. All Rights Are Reserved.</div>
</div>
</body>
</html>