<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Upload File</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
    <!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <!--		<img th:src="@{/images/key.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input class="form-control" id="username" id="Username" name="username"
               name="Username" th:placeholder="Username" type="text"/> <br/>
        <input class="form-control" id="password"
               name="password" th:placeholder="Password" type="password"/> <br/>

        <!--			<div align="center" th:if="${param.error}">-->
        <!--				<p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>-->
        <!--			</div>-->
        <button class="btn btn-lg btn-primary btn-block" name="Submit" th:text="Login" type="Submit"
                value="Login"></button>
    </form>
</div>
</body>
</html>